<head>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

      .jm-font{
          font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
          color: black;
      }
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
    </style>
</head>

{% if page.title == "Home" %}



<h5 class="jm-font"> Introduction </h5>
<p class="jm-font"> - This is a project that reveals my development philosophy. </p>
<p class="jm-font"> - Before starting this project, we didnt consider how to develop a program, we considered <b>how to solve a problem</b>. </p>
<p class="jm-font"> - So we met calligrapher several times, and asked what he need from the perspective of <b>teaching/learning calligraphy</b></p>
<p class="jm-font"> - Calligraphy has both artistic and academic meanings. </p>
<p class="jm-font"> - In fact, when evaluating calligraphy in a calligraphy contest, it is included that an evaluation of which typeface was reproduced in the past. </p>

<img src="https://user-images.githubusercontent.com/32811724/147175911-a20f1c23-6dbc-457c-978a-feafa7071c44.jpg" width="90%"></img>
<div style="text-align:center"> Various style of Calligraphy </div>


<img src="https://user-images.githubusercontent.com/32811724/147175816-bca1fd7a-4d96-44d6-ba9c-f234ee27510c.jpg" width="90%"></img>

<h5 class="jm-font"> Model Separation </h5>
<p class="jm-font"> - We sparated models by appearance model that predict what is the character is, and semantic model that evaluate how much the character resembled to the old challigrapher's characters </p>
<br> </br>
<h5 class="jm-font"> Data Collection </h5>
<p class="jm-font"> - CharactersTrimPad28: 15,000,000 of character dataset, used for training appearance model</p>
<p class="jm-font"> - Kaggle Chinese Calligraphy styles by Calligraphers: a dataset with handwritings of 20 famous old challigraphers, used for training semantic model</p>

<h5 class="jm-font"> Training Models </h5>
<p class="jm-font"> - By above datasets, we trained two models based on CNN </p>
<br> </br>
<h5 class="jm-font"> Results </h5>
<p class="jm-font"> Appearance model - Precision 98.9%, F1 score 98.4%</p>
<p class="jm-font"> Semantic model - Precision 98.5%, F1 score 99.0%</p>
<br> </br>
<h5 class="jm-font"> Presentation video </h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/v7sp5i0UEQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img src="https://user-images.githubusercontent.com/32811724/147175817-221effa6-9729-4c47-a386-50c2fba399fa.jpg" width="90%"></img>
<img src="https://user-images.githubusercontent.com/32811724/147175818-a14b4694-d217-41e1-a2ab-de2788f68a64.jpg" width="90%"></img>


<div class="row g-5 mb-5" style="text-align:left">
<hr width = "90%" color = "black">
<h5> Project Links </h5>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      includes publications.html
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
</div>
